doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= 'Payment Return'
    link(rel='stylesheet', href=site_url+'app/mobile/styles/style.css', type='text/css', media='all')
body
    section
        .shipping_address
            .main
                .app-content-box
                    h1 #{ __("Connecting back your Application") }
                    p= message






					.iti-flag {
    width: 20px;
    height: 15px;
    box-shadow: 0px 0px 1px 0px #888;
    background-image: url("../../images/flags.png");
    background-repeat: no-repeat;
    background-color: #DBDBDB;
    background-position: 20px 0
}




app/mobile/images/failed.png
